{% extends "indice/index.html" %}

{% block bloque_head %}
    <title>Mi plantilla</title>        
{% endblock bloque_head %}

{% block pruebaTemplate %}

    {% block bloque_de_plantilla %}
    {% endblock bloque_de_plantilla %}

    Mi plantilla la mas vacia

    {% if nombre_largo < 5 %}
        <p style="color: rgb(255, 136, 0);">{{nombre}} </p>
        <p style="color: rgb(0, 238, 255);">{{apellido}} </p>
    {% elif nombre_largo == 5 %}
        <p style="color: rgb(0, 130, 0);">{{nombre}} </p>
        <p style="color: rgb(0, 130, 0);">{{apellido}} </p>
    {% else %}
        <p style="color: rgb(100, 100, 0);">{{nombre}} </p>
        <p style="color: rgb(0, 150, 300);">{{apellido}} </p>
    {% endif %}

    {% for valor in lista %}
        <p style="color: rgb(100, 15, 30);">{{valor}} </p>
    {% endfor %}
{% endblock pruebaTemplate %}